<!doctype html>
<html>
  <head>
   <meta charset="utf-8">
     <link rel="stylesheet" href="./css/mystyles.css">
     <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
     <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
     <title>Form for select video camers</title>
  </head>
  <body>
    <div id="app">
      <input @keyUp= "filterOfCamers(street);" v-model="street" placeholder="Search by street">
      <camera v-for="camera in camersFilter" v-bind:camera="camera" v-bind:validation="validation"></camera>
      <div>
          <button v-on:click="validationAndGet">Get</button>
      </div>
    </div>
    <script type="text/template" id="camera">
      <div>
        <h1>{{camera.name}}</h1>
        <div>
          <img v-bind:src="'./img/'+camera.image+'.png'" v-bind:alt="camera.image">
        </div>
        <div>
            <p v-if="validation && camera.period===null">You must select period!</p>
            <select v-model="camera.period">
                <option disabled value=null>Select period</option>
                <option>1 month</option>
                <option>2 month</option>
                <option>3 minth</option>
              </select>
        </div>
        <div>
            <p v-if="validation && camera.archive === null">You must select period!</p>
            <select v-model="camera.archive">
                <option disabled value=null>Do you need archive?</option>
                <option>YES</option>
                <option>NO</option>
                <option></option>
              </select>
        </div>
        <div>
          <p><b>Street:</b>{{camera.street}}</p>
          <p><b>Description:</b>{{camera.description}}</p>
        </div>
      </div>
    </script>
   <script src="./js/app.js"></script>

</html>
