<!doctype html>
<html>
  <head>
   <meta charset="utf-8">
     <link rel="stylesheet" href="./css/mystyles.css">
     <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
     <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
     <title>Form for select video camers</title>
  </head>
  <body>
    <div id="app">
      <input @keyUp= "filterOfCamers(street);" v-model="street" placeholder="Search by street">
      <camera v-for="data in camersFilter" v-bind:data="data" name="test"/>
    </div>
    <script type="text/template" id="camera">
      <div>
        <h1>{{data.name}}</h1>
        <div>
          <img v-bind:src="'./img/'+data.image+'.png'" v-bind:alt="data.image">
        </div>
        <div>
          <p><b>Street:</b>{{data.street}}</p>
          <p><b>Description:</b>{{data.description}}</p>
        </div>
      </div>
    </script>
   <script src="./js/app.js"></script>

</html>
